/* Write your global styles here, in PostCSS syntax */

.editor select {
    @apply bg-gray-200 rounded;
}

.editor input {
    @apply bg-gray-200 rounded ml-1 pl-2 flex;
    width: 90%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
